.container {
  display: flex;
}

.col {
  flex: 1;
}

body {
  margin: 0;
  padding: 0;
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh; /* Ensures the image covers the entire viewport height */
}
